<div class="name_fields">
	<table style="width: 910px;border: none">
		<tbody>
			<% if @product.id != nil then %>
			<tr style="border: none">
				<td style="vertical-align: top;width:245px; text-align: right;padding-right: 10px;font-weight:bold;"><%= f.label "Artwork" %>:</td>
				<td style="vertical-align: top;"><%= render :partial => 'file_form', :locals => { :f => f } %></td>
				<td style="width:260px;vertical-align: top;" rowspan="5">
				<div class="image_fields" style="margin-top: 40px;">
					<% if !@product.images.empty? and !@product.images[0].processing then %>
					<%= product_image(@product, :itemprop => "image") %>
					<% end %>
				</div></td>
			</tr>
			<% end %>
			<tr style="border: none">
				<td style="vertical-align: top;width:245px; text-align: right;padding-right: 10px;font-weight:bold;"> <%= f.label :name %>:
				<br />
				<span style="font-size:13px;"><%= t(:name_lenght)%> </td></span>
				<td  style="vertical-align: middle;width:400px;"> <%= f.text_field :name, :maxlength => 25 %> </td>

			</tr>
			<tr style="border: none">
				<td style="vertical-align: top;text-align: right;padding-right: 10px;font-weight:bold;"> <%= f.label :description %>:
				<br />
				<span style="font-size:13px;"><%= t(:description_lenght)%> </td></span>
				<td style="vertical-align: middle;"> <%= f.text_area :description, :maxlength => 240, :style => "width: 300px;" %> </td>
				<%= render :partial => 'tea_tin_script' %>
			</tr>
			<tr style="border: none">
				<td style="vertical-align: top;text-align: right;padding-right: 10px;font-weight:bold;"> <%= f.label :options %>: </td>
				<td> <%= radio_button "product", "public", "false" %> <%= t(:make_private)%>
				<br />
				<%= radio_button "product", "public", "true" %> <%= t(:make_public)%> </td>
			</tr>
			<tr style="border: none">
				<td style="text-align: right;vertical-align: bottom;height:40px;"></td>
				<td style="vertical-align: bottom;"> <% if @product.final == false && @edit_blend %>
				<%= f.submit t(:save_draft_blend) %> <span style="margin-left: 10px;"><%= button_tag t(:finalize), :onclick => "submit_final()" %></span> <%= f.hidden_field :final %>
				<script type="text/javascript">
					function submit_final() {
					document.getElementById("product_final").value = true;
					document.forms["edit_product_<%= @product.id %>"].submit();
						}
				</script> 
				<% elsif @edit_blend %>
				<%= f.submit t(:save_blend) %>
				<% else %>
				<%= f.submit t(:continue) %>
				<% end %> <span style="margin-left: 10px;"><%= link_to t(:cancel), spree.myblends_path %></span></td>
			</tr>
		</tbody>
	</table>
</div>

