<div class="tea_cups_div" style="min-height: 235px;">
	<table class="tea_builder_divider" cellpadding="10" style="height: 245px;border: none">
		<tbody>
			<tr style="border: none">
				<td style="width:13%;"><% if @edit_blend == nil || @edit_blend == false %> <img src="/assets/store/icons/2.png" width="24" height="24" >&nbsp;
				<% end %>Your unique blend will taste like this.</td>
				<td style="width:22%;"> <% flavor_count = 0
          sku_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("name") != nil
				flavor_count += 1
				cid = "flavor" + flavor_count.to_s()
				%>
				<div id="<%= p.object.property_name %>div">
					<%= p.object.value == nil || p.object.value == "" ? "Select Above": p.object.value %>
				</div> <%= p.hidden_field :value, :id => cid %>
				<%= p.hidden_field :property_name  %>
				<%
				end
				%>
				<% end %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("sku") != nil
				sku_count += 1
				cid = "sku" + sku_count.to_s()
				%>
				<%= p.hidden_field :value, :id => cid %>
				<%= p.hidden_field :property_name  %>
				<%
				end
				%>
				<% end %></td>
				<td style="width:20%;"><div id="slider1"></div><div id="slider2"></div><div id="slider3"></div></td>
				<td style="width:10%;"> <% percent_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("percent") != nil
				cclass = "percentInput"
				percent_count += 1
				cid = "percent" + percent_count.to_s()
				disabled = percent_count == 3 ? true : false;
				%>
				<div id="<%= p.object.property_name %>div">
					<%= p.object.value == nil ? "0%": p.object.value + "%" %>
				</div> <%= p.hidden_field :value, :style => "width:45px", :id => cid, :readonly => disabled %>
				<%= p.hidden_field :property_name %>
				<%
				end
				%>
				<% end %> </td>
				<td style="width:35%;height:100%;" class="tea-cup-list" id="flavor_profile_row">
				<table id="flavor_profile_table" style="width:100%;">
					<tbody>
						<tr>
							<td style="width:20%;">aroma:
							<br>
							</td><td><img src="/assets/store/star_0.png" width="150px" height="22px">
							<br>
							</td>
						</tr>
						<tr>
							<td style="width:20%;">nutty:
							<br>
							</td><td><img src="/assets/store/star_0.png" width="150px" height="22px">
							<br>
							</td>
						</tr>
						<tr>
							<td style="width:20%;">sweetness:
							<br>
							</td><td><img src="/assets/store/star_0.png" width="150px" height="22px">
							<br>
							</td>
						</tr>
						<tr>
							<td style="width:20%;">strength:
							<br>
							</td><td><img src="/assets/store/star_0.png" width="150px" height="22px">
							<br>
							</td>
						</tr>
					</tbody>
				</table></td>
			</tr>
			<tr style="border: none">
				<td colspan="5"> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>