<div class="tea_cups_div" id="tea_name_percentages">
	<table cellpadding="10" style="min-height: 235px; width: 100%; border: none">
		<tbody>
			<tr style="border: none">
				<td style="width:25%; text-align: right;padding-right: 10px;font-weight:bold; font-size: 1.5em; border: none">Your Blend:</td>
				<td style="width:45%; font-size: 1.5em; border: none"> <% flavor_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("name") != nil
				flavor_count += (p.object.value == nil || p.object.value == "" ? 0 : 1)
				%>
				<div id="<%= p.object.property_name %>editdiv">
					<%= p.object.value == nil || p.object.value == "" ? "": p.object.value %>
				</div> 
				
				<%
				end
				%>
				<% end %> </td>
				<td style="width:15%; font-size: 1.5em; border: none"> <% percent_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("percent") != nil && percent_count < flavor_count
				percent_count += 1
				%>
				<div id="<%= p.object.property_name %>editdiv">
					<%= p.object.value == nil ? "": p.object.value %>%
				</div> 
				<%
				end
				%>
				<% end %> </td>
				<td class="tea-cup-list" style="text-align: left; border: none"> <%= link_to_function t(:edit_blend), 'showEditPanel()', :class => 'icon with-tip icon-edit' %> </td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function showEditPanel() {
		$("#tea_name_percentages").hide("Blind");
		$("#tea_selector_div").show("Blind");
		setupForEdit();
	};
</script>
