<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:home_page_slider) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_sliders_list), spree.admin_home_page_sliders_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for [:admin, @home_page_slider] do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= button t(:create), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>