<div data-hook="admin_image_form_fields">
	<h2><%= t(:choose_image_or_template_html)%></h2>
	<%= t(:filename) %>:
	<div id="uploadFile_div">
		<%= f.file_field :attachment %>
	</div>
	<%= hidden_field_tag :product_id, @product.id %>
	<%= f.hidden_field :viewable_id, :value => @product.master.id %>
	<%= f.hidden_field :label_image_remote_url %>
</div>

<script type="text/javascript">
	$("input#image_attachment").change(function() {
		// clear the remote url since the user choose a file
		var remoteInput = document.getElementById("image_label_image_remote_url");
		remoteInput.value = "";
		
		// update the selected image
		var image_thumbnail = document.getElementById("image_thumbnail");
		image_thumbnail.src = "/images/templates/default-tin.png";		
	});
</script>
