<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">

		<div class="three columns">
			<h5>Information</h5>
			<ul>
				<li>
					<%= link_to t(:contact), contact_path %>
				</li>
				<li>
					<%= link_to t(:about), about_path %>
				</li>
				<li>
					<%= link_to t(:privacy), privacy_path %>
				</li>
				<li>
					<%= link_to t(:faqs), faqs_path %>
				</li>
			</ul>
		</div>

		<div class="nine columns">
			<h5>Affiliations</h5>
			<ul>
				<li>
					<%= link_to image_tag("https://s3.amazonaws.com/uniqteas/images/BBBS.png", :size=>"16x16", :title =>"Big Brothers Big Sisters", :style=>"float: left; padding-right: 5px;"), "http://www.bbbs.org" %>
					<%= link_to "Big Brothers Big Sisters", "http://www.bbbs.org" %> 
				</li>
				<li>
					<%= link_to image_tag("https://s3.amazonaws.com/uniqteas/images/STI.gif", :size=>"16x16", :title =>"Specialty Tea Institute", :style=>"float: left; padding-right: 5px;"), "http://www.teausa.com/" %>
					<%= link_to "Specialty Tea Institute.", "http://www.teausa.com/" %>
				</li>
				<li>
					<%= link_to image_tag("https://s3.amazonaws.com/uniqteas/images/scaa.gif", :size=>"16x16", :title =>"Specialty Coffe Association of America", :style=>"float: left; padding-right: 5px;"), "http://www.scaa.org/" %>
					<%= link_to "Specialty Coffee Association of America.", "http://www.scaa.org/" %>
				</li>
				<li>
					<%= link_to image_tag("https://s3.amazonaws.com/bighoop/images/Big-Hoop-Logo-60-x-60.png", :size=>"16x16", :style=>"float: left; padding-right: 5px;"), bighoop_path %>
					<%= link_to "Big Hoop Foundation", bighoop_path %>
				</li>
			</ul>
		</div>

		<div class="three columns">
			<%= image_tag("/assets/store/organic.jpg", :size=>"60x60", :title =>"We use organic teas.", :style=>"float: left; padding-right: 5px;")%>
			<%= image_tag("/assets/store/fair-trade.jpg", :size=>"55x60", :title =>"We use fair trade teas.", :style=>"float: left; padding-right: 5px;")%>
		</div>
	</div>
	<script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.uniqteas.com&amp;size=L&amp;lang=en"></script>
</footer>